<div style="height: 100%; overflow: hidden;">
    <div style="padding-top: 2pc; text-align: center; display: flex; justify-content: center;">
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{
             height: '350px',
             width: '500px',
             margin: '10px'
          }"></ngx-skeleton-loader>
        <ngx-skeleton-loader count="1" appearance="line" [theme]="{
            height: '350px',
            width: '500px',
            margin: '10px'
         }"></ngx-skeleton-loader>
    </div>
    <div style="display: flex; justify-content: center; ">
        <div style="width: '500px'; margin-right: 20px; display: grid; margin-left: 20px;">
            <ngx-skeleton-loader count="1" appearance="line" [theme]="{
                height: '30px',
                width: '250px'
             }"></ngx-skeleton-loader>
            <div>
                <ngx-skeleton-loader count="1" appearance="line" [theme]="{
                     height: '30px',
                     width: '200px'
                  }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader style="margin-left: 10px;" count="1" appearance="line" [theme]="{
                    height: '25px',
                    width: '50px'
                 }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader style="margin-left: 5px;" count="1" appearance="line" [theme]="{
                    height: '25px',
                    width: '50px'
                 }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader style="margin-left: 4px;" count="1" appearance="line" [theme]="{
                    height: '25px',
                    width: '50px'
                 }">
                </ngx-skeleton-loader>
            </div>
            <div style="margin-top: 15px;">
                <ngx-skeleton-loader count="1" appearance="line" [theme]="{
                     height: '30px',
                     width: '100px'
                  }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader style="margin-left: 10px;" count="1" appearance="line" [theme]="{
                    height: '25px',
                    width: '50px'
                 }">
                </ngx-skeleton-loader>
            </div>
            <ngx-skeleton-loader style="margin-top: 0.5pc;" count="1" appearance="line" [theme]="{
                height: '30px',
                width: '80px'
             }"></ngx-skeleton-loader>
            <div>
                <ngx-skeleton-loader style="margin-left: 10px;" count="1" appearance="circle" [theme]="{
                     height: '60px',
                     width: '70px'
                  }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                     height: '60px',
                     width: '70px'
                  }"></ngx-skeleton-loader>
            </div>
        </div>
        <div style="width: '500px'; display: grid;">
            <ngx-skeleton-loader count="1" appearance="line" [theme]="{
                height: '30px',
                width: '250px'
             }"></ngx-skeleton-loader>
            <div>
                <ngx-skeleton-loader count="1" appearance="line" [theme]="{
                     height: '30px',
                     width: '200px'
                  }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader style="margin-left: 10px;" count="1" appearance="line" [theme]="{
                    height: '25px',
                    width: '50px'
                 }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader style="margin-left: 5px;" count="1" appearance="line" [theme]="{
                    height: '25px',
                    width: '50px'
                 }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader style="margin-left: 4px;" count="1" appearance="line" [theme]="{
                    height: '25px',
                    width: '50px'
                 }">
                </ngx-skeleton-loader>
            </div>
            <div style="margin-top: 15px;">
                <ngx-skeleton-loader count="1" appearance="line" [theme]="{
                     height: '30px',
                     width: '100px'
                  }">
                </ngx-skeleton-loader>
                <ngx-skeleton-loader style="margin-left: 10px;" count="1" appearance="line" [theme]="{
                    height: '25px',
                    width: '50px'
                 }">
                </ngx-skeleton-loader>
            </div>
            <ngx-skeleton-loader style="margin-top: 0.5pc;" count="1" appearance="line" [theme]="{
                height: '30px',
                width: '80px'
             }"></ngx-skeleton-loader>
            <div>
                <ngx-skeleton-loader style="margin-left: 10px;" count="1" appearance="circle" [theme]="{
                     height: '60px',
                     width: '70px'
                  }"></ngx-skeleton-loader>
                <ngx-skeleton-loader count="1" appearance="circle" [theme]="{
                     height: '60px',
                     width: '70px'
                  }"></ngx-skeleton-loader>
            </div>
        </div>
    </div>
</div>